@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif !important;
  line-height: 1.6;
  font-weight: 900;
}

.maincontainer {
  max-width: 1440px;
  margin: auto;
}

.nav {
  display: flex;
  flex-wrap: inherit;
  list-style:none;
  gap: 7.5rem;
  align-items: center;
  color: #333;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

a {
  color: #9f9f9f;
}


.nav li:hover {
  /* border-bottom: 2px #6A4029 solid; */
  color: #6A4029;
  transition: ease-in-out 0.1s;
}

.nav ol {
  text-decoration: none;
  font-weight: 700;
  color: inherit;
  animation: slideInFromLeft 1s ease-in;
}

.navigationBar div {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  /* border-bottom: 1px solid #000; */
}

.navigationBar .rightContent {
  margin: 0;
  /* width: 1440px; */
}

.rightContent .searchBox {
  margin: auto;
}

.navBar {
  align-items: center;
  font-size: large;
  padding: 0px !important;
}

.putra{
  /* background-image: url(/images/parker.jpeg); */
  background-size: 34px;
  height: 34px;
  width: 34px;
  margin-left: auto;
  margin-right: auto;
  /* display: block; */
  border-radius: 50%;
  }

.leftContent > p {
  margin-bottom: 0;
}

.rightContent > img {
  margin-right: 35px;
  align-items: center;
  cursor: pointer;
}

.icon1 {
  margin-top: 3px;
  width: 28px;
  height: 28px;
}

.right-content > img:hover {
  opacity: 80%;
}

.searchBox
{
  margin: 0;
  top : 50%;
  left : 50%;
  transform : translate(-50%,-5%);
  background : #f3f3f3;
  height : 40px;
  border-radius : 40px;
  padding: 10px;
}
.searchBtn
{
  color : #000000;
  float : right;
  width : 20px;
  height : 20px;
  border-radius: 50%;
  background : #f3f3f3;
  display:flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition:0.4s;
}
.searchTxt
{
  border:none;
  background:none;
  outline:none;
  float:left;
  padding:0;
  color: rgb(24, 23, 19);
  font-size:16px;
  transition : 0.4s;
  line-height: 40px;
  width : 0px;
}
.searchBox:hover > .searchTxt
{
  width: 210px;
  padding: 0 6px;
}
.searchBox:hover > .searchBtn
{
 background:white;
}

/* media queries */

@media screen and (max-width: 768px) {
  .navBar {
    display: flex;
    flex-direction: column;
  }

  .mainbox {
    width: 90%;
    margin: 0 auto;
  }

  .rightContent {
    position: relative;
    top: -70px;
    left: 260px;
  }

  .midContent {
    position: relative;
    top: 40px;
  }

  .leftContent {
    position: relative;
    right: 278px;
    top: 30px;
  }
}