@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif !important;
  line-height: 1.6;
  font-weight: 700;
}

.border-container {
  max-width: 1440px;
}

.navbar {
  height: 80px;
  width: 1360px;
  float:none;
  margin: 0 auto;
    display: table;
    position: sticky;
    background-color: rgb(236, 158, 226) !important;
    color: #0B132A !important;
}

.nav-logo p {
  margin: 0px 0px 0px 10px;
}

.profile-pic{
  background-image: url(/images/parker.jpeg);
  background-size: 34px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 34px;
  width: 34px;
  /* border-radius: 50%;
  margin-right: 10px; */
  }

.icon-msg {
    margin-top: 3px;
    width: 28px;
    height: 28px;
  }

.nav-pc {
  display: flex;
}

.right-item {
  display: flex;
  gap: 2em;
  margin-right: 10px;
  cursor: pointer;
}

.search-bar {
  border-radius: 10px;
  color: #fff;
  border: 1px solid #3a2e2e;
  width: 140px;
  height: auto;
}

.middle-item .nav-list {
  display: flex;
  list-style: none;
  gap: 3em;
  margin: auto;
  cursor: pointer;
}

.center-box {
  /* justify-content: center; */
  text-align: center;
}

/* main content */

.main-content {
  background: url(/images/bg-cart.png);
  background-size: cover;
}

.card-main {
 /* nanti */
}

.card-left {
  margin-top: 180px;
  border: 2px solid black;
  border-radius: 10px;
}

.left-inner {
  margin-top: 40px;
  border: 1px solid blueviolet;
  height: 700px;
  width: 400px;
}

/* footer */

.left-content > p {
  margin-left: 35px;
}

.right-content > img {
  margin-right: 35px;
}

.footer-container {
  display: flex;
}

.left-foot-content,
.right-foot-content {
  flex: 1;
}

.footer-container {
  justify-content: space-between;
  background-color: #F8F8F8;
;
}

.left-foot-content {
  margin: 70px;
}

.about-detail {
  margin-top: 20px;
  width: 60%;
}

.about-detail p {
  font-size: 16px;
  color: #4F5665;
}

.sosmed-detail {
  position: relative;
  display: flex;
  margin-top: 20px;
  width: 20%;
  justify-content: space-between;
}

.back-logo {
  background-color: rgb(37, 23, 23);
  padding: 15px;
  position: relative;
  left: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.img-logo {
  position: absolute;
  bottom: -1px;
  overflow: hidden;
  object-fit: cover;
}


.copyright {
  font-size: 16px;
  color: #AFB5C0;
  margin-top: 40px;
}

.right-foot-content {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.content-detail h2 {
  font-size: 18px;
  color: #0B132A;
  font-weight: 500;
}

.content-detail ol li {
  font-size: 16px;
  margin-top: 20px;
  list-style: none;
  color: #4F5665;
}

.content-detail ol li:hover {
  /* opacity: 70%; */
  color: #6A4029;
  cursor: pointer;
}
