@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}


body {
  font-family: 'Lato', sans-serif !important;
  line-height: 1.6;
  font-weight: 700;
}

main {
  margin-left: auto;
  margin-right: auto;
}

ol {
  margin: 0;
  padding: 0;
}

.right-content a:hover {
  border-bottom: 1px solid #6A4029;
}

.box-1 {
  cursor: pointer;
}

.container {
  max-width: 1440px;
}


/* navbar */

.nav {
  display: flex;
  flex-wrap: inherit;
  list-style:none;
  gap: 7.5rem;
  align-items: center;
  color: #9F9F9F
  /* border-bottom: 1px solid #0B132A; */
}

.nav a:hover {
  border-bottom: 2px #6A4029 solid;
  color: #6A4029;
  transition: ease-in-out 0.1s;
}

.nav a {
  text-decoration: none;
  font-weight: 700;
  color: inherit;
  animation: slideInFromLeft 1s ease-in;
}

.navigation-bar div {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  /* border-bottom: 1px solid #000; */
}

.nav-bar {
  align-items: center;
  font-size: large;
}

.putra{
  background-image: url(/images/parker.jpeg);
  background-size: 34px;
  height: 34px;
  width: 34px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 50%;
  }

.left-content > p {
  margin-left: 35px;
  /* margin-bottom: 0; */
}

.right-content > img {
  margin-right: 35px;
  align-items: center;
  cursor: pointer;
}

.icon-1 {
  margin-top: 3px;
  width: 28px;
  height: 28px;
}

.right-content > img:hover {
  opacity: 80%;
}

/* main right css */

.inside-nav {
  justify-content: center;
}

.nav-item ul {
  display: flex;
  list-style: none;
  gap: 5.5em;
  margin-top: 14px;
  cursor: pointer;
}

.nav-item a {
  text-decoration: none;
  color: #9F9F9F;
}

.product-item {
  /* border: 1px solid #fff; */
  height: 90%;
  color: #0B132A;
}

.box-1 img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -30px;
}

.all-box-1, .all-box-2, .all-box-3 {
  justify-content: center;
  text-align: center;
  display: flex;
  gap: 4em;
}

.all-box-1, .all-box-2 {
  margin-bottom: 90px;
}

.all-box-1 {
  margin-top: 100px;
}

.box-1 {
  background-color: #ffffff;
  box-shadow: 0px 10px 8px 0px rgba(0,0,0,0.1);
  border-radius: 20px;
  height: 170px;
  width: 120px;
  position: relative;
}

.title {
  position: relative;
  margin-top: 80px;
  overflow: hidden;
}

/* main right end */

/* main left start */

.up-left {
  margin: 70px 70px 0px 70px;
  text-align: center;
  color: black;
}

.middle-left {
  display: block;
  color: black;
  background-color: #FFCB65;
  text-align: center;
  border-radius: 20px;
  height: 430px;
  width: 220px;
  margin: auto;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.inside-left {
  position: relative;
  /* margin-top: 30px; */
  border-bottom: 1px dashed black;
}

.inside-left img {
  overflow: hidden;
  margin-top: 30px;
}

.btn-left {
  text-align: center;
  margin: 47px 40px 0px 40px;
}

.button-left {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

button {
  height: 50px;
  width: 75%;
  border: none;
}

button:active {
  position: relative;
  top: 2px;
}

button:hover {
  opacity: 90%;
  color: #ffffff;
  transition: ease-in-out 0.2s;
}

.term-left {
  margin-top: 140px;
  margin-left: 30px;
}

/* main left end */

/* footer */

.left-content > p {
  margin-left: 35px;
}

.right-content > img {
  margin-right: 35px;
}

.footer-container {
  display: flex;
}

.left-foot-content,
.right-foot-content {
  flex: 1;
}

.footer-container {
  justify-content: space-between;
  background-color: #F8F8F8;
;
}

.left-foot-content {
  margin: 70px;
}

.about-detail {
  margin-top: 20px;
  width: 60%;
}

.about-detail p {
  font-size: 16px;
  color: #4F5665;
}

.sosmed-detail {
  position: relative;
  display: flex;
  margin-top: 20px;
  width: 20%;
  justify-content: space-between;
}

.back-logo {
  background-color: rgb(37, 23, 23);
  padding: 15px;
  position: relative;
  left: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.img-logo {
  position: absolute;
  bottom: -1px;
  overflow: hidden;
  object-fit: cover;
}


.copyright {
  font-size: 16px;
  color: #AFB5C0;
  margin-top: 40px;
}

.right-foot-content {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.content-detail h2 {
  font-size: 18px;
  color: #0B132A;
  font-weight: 500;
}

.content-detail ol li {
  font-size: 16px;
  margin-top: 20px;
  list-style: none;
  color: #4F5665;
}

.content-detail ol li:hover {
  /* opacity: 70%; */
  color: #6A4029;
  cursor: pointer;
}

.box-1:hover {
  opacity: 80%;
  border-bottom: 1px solid #6A4029;
  transition: ease-out 0.2s;
}

/* media queries */

@media screen and (max-width: 768px) {
  .nav-bar {
    display: flex;
    flex-direction: column;
  }

  .img-logo, .back-logo {
    margin-left: 10px;
  }

}

@media (max-width: 768px) {
  .nav-item ul {
    gap: 1.4em;
    margin-right: 15px;
    margin-top: 25px;
    padding: 0;
  }

  .container.product-item {
    /* margin: 90px; */
    width: 600px;
    padding: 0px 60px 20px 0px;
  }

  .container.all-box-1 {
    padding: 0px 50px 0px 0px;
  }

  .container.all-box-2 {
    padding: 0px 50px 0px 0px;
  }
  .container.all-box-3 {
    padding: 0px 50px 0px 0px;
  }


  .all-box-1 {
    margin-top: 80px;
    gap: 10px;
    margin-left: 8px;
  }

  .all-box-2 {
    margin-top: 80px;
    gap: 10px;
    margin-left: 8px;
  }

  .all-box-3 {
    margin-top: 80px;
    gap: 10px;
    margin-left: 8px;
  }

  .up-left {
    width: 150px;
    margin: 0 auto;
    margin-top: 10px;
  }

  .middle-left {
    width: 170px;
    margin: 0 auto;
  }

  .inside-left {
    margin: 0 auto;
    height: 250px;
  }

  .inside-left img {
    height: 100px;
    margin-top: 19px;
  }

  .inside-left H1 {
    font-weight: bolder;
  }
}