@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}


body {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.text-user h1 {
  position: relative;
  font-weight: bold;
}

.nav a:hover {
  border-bottom: 2px #6A4029 solid;
  color: #6A4029;
  transition: ease-in-out 0.1s;
}

.nav a {
  text-decoration: none;
  font-weight: 700;
  color: inherit;
  animation: slideInFromLeft 1s ease-in;
}

.nav-bar {
  align-items: center;
  font-size: large;
}

.nav {
  display: flex;
  flex-wrap: inherit;
  list-style: none;
  gap: 7.5rem;
  align-items: center;
  color: #9F9F9F
}
.main-content {
  background: url(/images/coffee.png);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content-grid {
  height: 900px;
}

.main-content h1 {
  color: white;
}


.top-content {
  display: flex;
  position: relative;
  top: -15px;
  justify-content: center;
  gap: 3rem;
}

.top-content .profile-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 40px;
  background-color: white;
  border-radius: 10px;
  margin-top: 120px;
  box-shadow: 0 0 10px grey, 0px 10px 0px 0px #6A4029;
}

.profile-photo img {
  height: 70px;
  width: 70px;
  left: 1251px;
  top: 51px;
  border-radius: 50%;
}

.profile-photo .pencil {
  position: relative;
  top: -28px;
  right: -37px;
  background-color: black;
  padding: 6px;
}

.profile-photo h2 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}

.profile-photo p {
  margin-top: 4px;
  font-size: 11px;
  font-weight: 400;
  color: #333;
}

.profile-photo h3 {
  font-size: 15px;
  font-weight: 400;
  color: #4F5665;
  margin-top: 39px;
}

.navigation-bar div {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.putra{
background-image: url(/images/parker.jpeg);
background-size: 34px;
height: 34px;
width: 34px;
margin-left: auto;
margin-right: auto;
display: block;
border-radius: 50%;
}

.profile-container {
  position: relative;
  background-color: #000000;
  color: aliceblue;
}


.left-content > p {
  margin-left: 35px;
}

.right-content > img {
  margin-right: 35px;
  cursor: pointer;
}

.icon-1 {
  margin-top: 3px;
  width: 28px;
  height: 28px;
}

.right-content > img:hover {
  opacity: 80%;
}

.footer-container {
  display: flex;
}

.left-foot-content,
.right-foot-content {
  flex: 1;
}

.contact {
  overflow:hidden;
  background-color: rgb(255, 255, 255);
  height: 270px;
  width: 50%;
  margin-top: 120px;
  border-radius: 10px;
  box-shadow: 0 0 10px grey, 0px 10px 0px 0px #6A4029;
  font-weight: 700;
}

hr {
  border: 1px solid #333;
  width: 150%;
  margin-top: 5px;
}

.text-contact {
  display: block;
  margin-bottom: 25px;
}

.contact input {
  display: block;
  border: none;
  /* border-bottom: 2px solid #333; */
  margin-top: 5px;
  text-align: center;
}

.contact-right {
  margin-right: 80px;
  display: block;
}

.right-contact {
  margin-top: 62px;
}

.contact-left {
  margin-right: 10px;

}

.left-contact {
  background-color: #ffffff;
}

.main-contact {
  /* position:relative; */
  display: flex;
  flex-wrap:wrap;
  margin-top: 30px;
  justify-content: center;
  gap: 9em;
}


.address {
  margin-top: 40px;
}

.bottom-content {
  overflow:hidden;
  justify-content: center;
  position: relative;
  display: flex;
  background-color: #ffffff;
  width: 50%;
  height: 310px;
  border-radius: 10px;
  box-shadow: 0 0 10px grey, 0px 10px 0px 0px #6A4029;

}

.profile-detail-left {
  margin-right: auto;
  margin-left: auto;
  margin-top: 13px;
  font-weight: bold;
}

.profile-detail-left input {
  display: block;
  border: none;
  margin-top: 5px;
  background: none;
}

.profile-detail-left hr {
 margin-bottom: 18px;
}

.profile-detail-right {
  margin-right: auto;
  margin-left: auto;
  margin-top: 85px;
  font-weight: bold;
}

.profile-detail-right input {
  display: block;
  border: none;
  margin-top: 5px;
  background: none;
}

.profile-detail-right .gender {
  margin-top: 20px;
  float: left;
  display: block;
}

.profile-detail-right label {
  margin-left: 20px;
  align-items: center;
}

input[type=radio]{
  float: left;
  clear: none;
  width: 1.3em;
  height: 1.3em;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffa500;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}


.content-aside {
  display: flex;
  justify-content: center;
  gap: 3em;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.button-container {
  /* background-color: #ffffff; */
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: inherit;
  /* box-shadow: 0 0 10px grey, 0px 10px 0px 0px #6A4029; */

}

.button-up, .button-down {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button-down {
  margin-top: 20px;
}

.button-down button {
  color: #6A4029;
}

.button-down button:hover {
  color: #333;
}

button {
  flex-basis: 60px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  justify-content: center;
  align-items: center;
  border: none;
  font-weight: 1000;
  user-select: none;
}

button:active {
  position: relative;
  top: 2px;
}

button:hover {
  /* opacity: 90%; */
  color: #ffffff;
  transition: ease-in-out 0.2s;
}

input:focus {
  outline: none;
}

.button-up > p {
  font-size: larger;
  font-weight: bold;
  color: #ffffff;
}

.text-detail {
  display: block;
  margin-bottom: 30px;
}


/* footer */

.left-content > p {
  margin-left: 35px;
}

.right-content > img {
  margin-right: 35px;
}

.footer-container {
  display: flex;
}

.left-foot-content,
.right-foot-content {
  flex: 1;
}

.footer-container {
  justify-content: space-between;
  background-color: #F8F8F8;
;
}

.left-foot-content {
  margin: 70px;
}

.about-detail {
  margin-top: 20px;
  width: 60%;
}

.about-detail p {
  font-size: 16px;
  color: #4F5665;
}

.sosmed-detail {
  position: relative;
  display: flex;
  margin-top: 20px;
  width: 20%;
  justify-content: space-between;
}

.back-logo {
  background-color: rgb(37, 23, 23);
  padding: 15px;
  position: relative;
  left: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.img-logo {
  position: absolute;
  bottom: -1px;
  overflow: hidden;
  object-fit: cover;
}


.copyright {
  font-size: 16px;
  color: #AFB5C0;
  margin-top: 40px;
}

.right-foot-content {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.content-detail h2 {
  font-size: 18px;
  color: #0B132A;
  font-weight: 500;
}

.content-detail ol li {
  font-size: 16px;
  margin-top: 20px;
  list-style: none;
  color: #4F5665;
}

.content-detail ol li:hover {
  color: #6A4029;
  cursor: pointer;
}

button {
  cursor: pointer;
}

button a:hover {
  color: #333;
}

.right-content a:hover {
  border-bottom: 1px solid #6A4029;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.button-down a {
  color: #6A4029;
}

/* media queries */

@media screen and (max-width: 768px) {
  .nav-bar {
    display: flex;
    flex-direction: column;
  }

  .top-content {
    margin: 10px;
  }
  .profile-photo {
    height: 185px;
    width: 185px;
    float: inline-end;
    padding: 0;
    margin-left: 10px;
  }

  .profile-photo img {
    height: 50px;
    width: 50px;
  }

  .profile-photo h2, .profile-photo h3 {
    font-size: small;
    margin: 0;
  }

  .profile-photo h3 {
    width: max-content;
    margin-top: 15px;
  }

  .contact {
    height: 185px;
    width: 900px;
    gap: 0;
  }

  .contact-left {
    margin-right: 80px;
    margin-top: 17px;
  }

  .address {
    display: flex;
    flex-direction: column;
    margin-top: 13px;
  }

  .right-contact {
    margin-right: 190px;
    margin-top: 44px;
  }

  .right-contact hr {
    border-bottom: 5px;
    width: 90%;
  }

  .left-contact {
    margin-left: 290px;
  }

  .left-contact hr {
    border-bottom: 5px;
    width: 90%;
  }

  .text-contact {
    font-size: 18px;
    margin: 0;
  }

  .main-contact {
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
    gap: 0;
    justify-content: center;
  }

  .content-aside {
    gap: 0;
  }

  .bottom-content {
    width: 540px;
    margin: 0 auto;
  }

  .button-container {
    width: 20%;
    margin: 0 auto;
    /* flex-direction: row; */
    height: 90px;
  }

  .button-up {
    display:grid;
  }

  .button-down {
    height: 75px;
  }

  button {
    height: 30px;
  }

  .img-logo, .back-logo {
    margin-left: 10px;
  }
}