@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --primary-color: #FFBA33;
  --secondary-color: #1c3fa8;
  --dark-color: #333;
  --red-color: #ff0037;
  --shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.main-clg,
.full-width,
.head-content,
.logo-detail,
.signup-content,
.btn-google,
.footer-container {
  display: flex;
}

.side-content,
.form-content,
.left-foot-content,
.right-foot-content {
  flex: 1;
}

.side-content img {
  height: 100%;
  width: 100%;
}

h1 {
  margin-bottom: 90px;
}


.head-content {
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.logo-detail {
  align-items: center;
}

.logo-detail h2 {
  font-size: 20px;
  font-style: 1000px;
  padding-left: 10px;
}

.logo {
  width: 50px;
}

a {
  text-decoration: none;
}

.right-head-content {
  background-color: var(--primary-color);
  padding: 13px 50px;
  border-radius: 20px;
  box-shadow: var(--shadow);
}

.right-head-content h3 {
  user-select: none;
  color: rgb(255, 255, 255);
}

.right-head-content:active {
  background-color: #c6e2be;
  position: relative;
  top: 2px;
}

.right-head-content:hover {
  opacity: 75%;
  transition: ease-in-out 0.2s;
}


.signup-content {
  flex-direction: column;
  align-items: center;
}

.signup-content h1 {
  font-size: 35px;
  color: black;
}

/* form */
form {
  flex-direction: column;
  align-items: center;
}


.full-width {
  margin: 20px 0px;
  width: 100%;
}

.input-div {
  width: 60%;
  margin: 10px;
}

.sign-container {
  width: 60%;
}

label {
  color: var(--dark-color);
  font-weight: 700;
}

input {
  font-size: large;
  display: block;
  height: 60px;
  width: 100%;
  margin-top: 10px;
  border-radius: 20px;
  padding: 10px;
  border: 1.2px solid #4F5665;
}

input:focus {
  outline: none;
}



/* button */

.btn-signup {
  background-color: var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-top: 70px;
  font-size: 20px;
  width: 100%;
  padding: 20px 90px;
  color: rgb(255, 255, 255)
}

.sign-up {
  text-align: center;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  color: #333;
  width: 100%;
  padding: 20px 90px;
}



button {
  /* display: block; */
  margin-top: 40px;
  width: 100%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  justify-content: center;
  align-items: center;
  border: none;
  font-weight: 1000;
  user-select: none;
}

button:active {
  /* position: relative; */
  top: 2px;
}

button:hover {
  opacity: 85%;
  transition: ease-in-out 0.2s;
}


/* get member */

.get-member {
  position: relative;
  display: flex;
  width: 70%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  left: 220px;
  bottom: 90px;
}

.info-member {
  padding: 40px;
}

.info-member h2 {
  width: 75%;
  font-size: 35px;
  font-weight: 500;
}

.info-member p {
  margin-top: 10px;
  font-size: 16px;
  color: #4F5665;
}

.btn-create {
  margin-right: 40px;
  margin-bottom: 30px;
  background-color: var(--primary-color);
  padding: 20px 50px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 250px;
  font-size: large;
  color: #fff;
}

.btn-create:active {
  background-color: #6bc253;
  position: relative;
  top: 2px;
}

.btn-create h2 {
  font-size: 16px;
  font-weight: 700;
  color: black;
  text-align: center;
  user-select: none;
}

button {
  cursor: pointer;
}

/* footer */

.footer-container {
  justify-content: space-between;
  margin-bottom: 80px;
}

.left-foot-content {
  margin: 70px;
}

.about-detail {
  margin-top: 20px;
  width: 60%;
}

.about-detail p {
  font-size: 16px;
  color: #4F5665;
}

.sosmed-detail {
  position: relative;
  display: flex;
  margin-top: 20px;
  width: 20%;
  justify-content: space-between;
}

.back-logo {
  background-color: rgb(37, 23, 23);
  padding: 15px;
  position: relative;
  left: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.img-logo {
  position: absolute;
  bottom: -1px;
  overflow: hidden;
  object-fit: cover;
}


.copyright {
  font-size: 16px;
  color: #AFB5C0;
  margin-top: 40px;
}

.right-foot-content {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
}

.content-detail h2 {
  font-size: 18px;
  color: #0B132A;
  font-weight: 500;
}

.content-detail ol li {
  font-size: 16px;
  margin-top: 20px;
  list-style: none;
  color: #4F5665;
}

.content-detail ol li:hover {
  color: #363636;
  cursor: pointer;
}

/* media query */

@media screen and (max-width: 768px) {
  body {
    justify-content: center;
  }

  .container {
    justify-content: center;
    margin-right: 10%;
  }

  .full-width {
    width: 100%;
  }
  .img-1 {
    position: relative;
    display: none;
  }
  .get-member {
    right: 0;
    left: 0;
    margin-left: 100px;
    margin-top: 100px;
   width: 550px;
   height: 250px;
  }
  .signup-content {
    /* margin-right: 100px; */
   justify-content: center;
   width: max-content;
  }

  .img-logo, .back-logo {
    margin-left: 10px;
  }
}