@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif !important;
  line-height: 1.6;
  font-weight: 700;
}

.maincontainer {
  max-width: 1440px;
  margin: auto;
}

/* main right css */
.tnc {
  font-size: 10px; font-weight: 700; color: black; margin: 10px 0px 0px 0px;
}
.fav {
  font-weight: 800;
  color: #6A4029;
}

.name {
  font-weight: 700; margin: 0;
}

.list {
  font-size: 10px; padding: 10px; color: black;
}

.price {
  font-weight: 500; color: #6A4029;
  display: block;
}

.txt1 {
  font-size: 30px; font-weight: 700;
}

.txt2 {
  font-size: 13px;
}

.txt3 {
  font-size: 25px; font-weight: 700; margin: 0;
}

.txt4 {
  font-size: 24px; font-weight: 700; margin: 0;
}

.txt5 {
  font-size: 13px;
}

.txt6 {
  margin: 0;
}

.txt7 {
  font-size: 10px;
}

/* khusus image */

.img {
  border-radius: 50%;
}

.insidenav {
  justify-content: center;
}

.navitem .ul {
  display: flex;
  list-style: none;
  gap: 2em;
  margin: auto;
  cursor: pointer;
  padding: 40px 0px 0px 80px;
}

.ul li {
  padding-right: 30px;
}

.navitem {
  text-decoration: none;
  color: #9F9F9F;
}

.productitem {
  /* border: 1px solid #fff; */
  height: 90%;
  color: #0B132A;
}

.box1 img {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -40px;
}

.link {
  text-decoration: none;
  padding-top: ;
}

.allbox1, .allbox2, .allbox3 {
  justify-content: center;
  text-align: center;
  display: flex;
  gap: 4em;
  cursor: pointer;
}

.allbox1, .allbox2 {
  margin-bottom: 90px;
}

.allbox1 {
  margin-top: 100px;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2em;
  padding-left: 80px;
}

.box1 {
  background-color: #ffffff;
  box-shadow: 0px 10px 8px 0px rgba(0,0,0,0.1);
  border-radius: 20px;
  height: 170px;
  width: 140px;
  position: relative;
}

.title {
  position: relative;
  margin-top: 80px;
  overflow: hidden;
}

/* main right end */

/* main left start */

.med-bar {
  position: absolute;
  height: 450px;
  padding: 5rem;
  background-color: black;
  border-radius: 1rem;
  right: -2rem;
  top: 2rem;
}

.back-bar {
  position: absolute;
  height: 390px;
  padding: 5rem;
  background-color: #895537;
  border-radius: 1rem;
  right: -3.5rem;
  top: 3.7rem;
}

.upleft {
  margin: 70px 70px 0px 70px;
  text-align: center;
  color: black;
}

.middleleft {
  display: block;
  color: black;
  background-color: #FFCB65;
  text-align: center;
  border-radius: 20px;
  height: 430px;
  width: 280px;
  margin: auto;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.box1:hover {
  opacity: 80%;
  border-bottom: 1px solid #6A4029;
  transition: ease-out 0.2s;
}

.insideleft {
  position: relative;
  /* margin-top: 30px; */
  border-bottom: 1px dashed black;
}

.insideleft img {
  overflow: hidden;
  margin-top: 30px;
}

.btnleft {
  text-align: center;
  margin: 30px 40px 0px 40px;
  padding-top: 40px;
}

.buttonleft {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}



.btnleft button {
  height: 50px;
  width: 280px;
  border: none;
}

.btnleft button:active {
  position: relative;
  top: 2px;
}

.btnleft button:hover {
  background-color: #fff;
  color: #6A4029;
  transition: ease-in-out 0.2s;
}

.termleft {
  margin-top: 140px;
  margin-left: 30px;
  text-align: left;
}

.buttonleft {
  background-color: #6A4029; font-weight: 700; color: #fff;
}


/* media query */

@media screen and (max-width: 768px) {
  .insidenav ul {
    gap: 1em;
    padding-left: 25px;
    padding-top: 20px;
  }
  .allbox1 {
    gap: 20px;
    position: relative;
    padding-left: 25px;
  }

  .buttonleft {
    position: relative;
    left: -22px;
  }
  .txt6 {
    padding-top: 20px;
  }
  .middleleft {
    width: 240px;
    height: 440px;
  }

}