::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
}

.maincontent {
  background: url(/src/assets/images/coffee.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1465px;
  margin: auto;
}

.maincontentgrid {
  height: 900px;
}

.maincontent h1 {
  color: white;
}


.topcontent {
  display: flex;
  position: relative;
  top: -15px;
  justify-content: center;
  gap: 3rem;
}

.topcontent .profilephoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 40px;
  background-color: white;
  border-radius: 10px;
  margin-top: 120px;
  box-shadow: 0 0 10px grey, 0px 10px 0px 0px #6A4029;
}

.profilephoto img {
  margin: auto;
  height: 100px;
  width: 100px;
  top: 51px;
  border-radius: 50%;
}

.profilephoto .pencil {
  position: relative;
  top: -28px;
  right: -37px;
  background-color: black;
  padding: 6px;
}

.profilephoto h2 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}

.profilephoto p {
  margin-top: 4px;
  font-size: 11px;
  font-weight: 400;
  color: #333;
}

.profilephoto h3 {
  font-size: 15px;
  font-weight: 400;
  color: #4F5665;
  margin-top: 39px;
}

.navigationbar div {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.profilecontainer {
  position: relative;
  background-color: #000000;
  color: aliceblue;
}


.leftcontent > p {
  margin-left: 35px;
}

.rightcontent > img {
  margin-right: 35px;
  cursor: pointer;
}

.icon1 {
  margin-top: 3px;
  width: 28px;
  height: 28px;
}

.rightcontent > img:hover {
  opacity: 80%;
}

.contact {
  overflow:hidden;
  background-color: rgb(255, 255, 255);
  width: 680px;
  margin-top: 120px;
  border-radius: 10px;
  box-shadow: 0 0 10px grey, 0px 10px 0px 0px #6A4029;
  font-weight: 700;
}

.hr {
  border: 1px solid #333;
  width: 250px;
  margin-top: 5px;
}

.textcontact {
  display: block;
  margin-bottom: 25px;
}

.inputprofile {
  display: block;
  border: none;
  text-align: left;
}

.contactright {
  margin-right: 80px;
  display: block;
}

.rightcontact {
  margin-top: 62px;
  text-align: left;
}

.contactleft {
  margin-right: 10px;

}

.leftcontact {
  background-color: #ffffff;
}

.maincontact {
  /* position:relative; */
  display: flex;
  margin-top: 16px;
  gap: em;
  margin-left: 35px;
}


.address {
  margin-top: 40px;
  text-align: left;
}

.mail {
  text-align: left;
}

.bottomcontent {
  overflow:hidden;
  display: flex;
  background-color: #ffffff;
  width: 670px;
  height: 310px;
  border-radius: 10px;
  box-shadow: 0 0 10px grey, 0px 10px 0px 0px #6A4029;

}

.profiledetailleft {
  padding: 23px 0px 0px 50px;
  font-weight: bold;
}

.profiledetailright {
  /* margin: auto; */
  font-weight: bold;
  padding-top: 70px;
}
.inputprofile {
  display: block;
  border: none;
  margin-top: 5px;
  background: none;
}

.hr {
 margin-bottom: 18px;
}



.gender {
  margin-top: 20px;
  float: left;
  display: block;
}

.mail {
  border: none;
  align-items: center;
  background: none;
}

.mail[type='date']{
  cursor: pointer;
}

.inputprofile[type=radio]{
  float: left;
  clear: none;
  width: 1em;
  height: 1em;
  cursor: pointer;
}

.inputprofile[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.inputprofile[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  position: relative;
  background-color: #ffa500;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}


.contentaside {
  display: flex;
  justify-content: center;
  gap: 3em;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.buttoncontainer {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: inherit;
  align-items: center;
}

.buttonup, .buttondown {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttondown .editbtn {
  color: #6A4029;
}

.buttondown .editbtn:hover {
  color: #333;
}

.btncancel, .btnsave, .editbtn {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  justify-content: center;
  align-items: center;
  border: none;
  font-weight: 1000;
  user-select: none;
}

.btncancel:active, .btnsave:active, .editbtn:active {
  position: relative;
  top: 2px;
}

.btncancel:hover, .btnsave:hover, .editbtn:hover {
  color: #ffffff;
  transition: ease-in-out 0.2s;
}

.inputprofile:focus {
  outline: none;
}

.buttonup > p {
  font-size: larger;
  font-weight: bold;
  color: #ffffff;
}

.textdetail {
  display: block;
  margin-bottom: 3px;
}

.btncancel, .btnsave, .editbtn {
  cursor: pointer;
}


.rightcontent a:hover {
  border-bottom: 1px solid #6A4029;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.buttondown a {
  color: #6A4029;
}

.btnsave {
  height: 50px;
  width: 250px;
  background-color: #ffa500;
}

.btncancel {
  margin: 10px 0px 0px 0px;
  height: 50px;
  width: 250px;
  background-color: #6A4029;
}

.editbtn {
  margin: 10px 0px 0px 0px;
  height: 50px;
  width: 250px;
  background-color: #d1d3d1;
}

.profilephoto .editIcon {
  position: absolute;
  bottom: -8px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.leftcontact .editIcon {
  position: absolute;
  height: 40px;
  padding-left: 580px;
  cursor: pointer;
}

.profiledetailleft .editIcon {
  position: absolute;
  height: 40px;
  padding-left: 550px;
  cursor: pointer;
}
/* media query */

@media screen and (max-width: 768px) {
  .topcontent {
    gap: 5px;
  }
  .buttoncontainer {
    position: relative;
    left: -15px;
  }
  .bottomcontent {
    position: relative;
    right: -10px;
  }
  .rightcontact {
    position: relative;
    left: -30px;
  }
}