.loader-container {
  position: fixed;
  top: 50%;
  bottom: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.spinner {
  width:45px;
  height:45px;
  display:inline-block;
  padding:0px;
  border-radius:100%;
  border:5px solid;
  border-top-color:#5f3016;
  border-bottom-color:rgba(255,255,255, 0.3);
  border-left-color:#5f3016;
  border-right-color:rgba(255,255,255, 0.3);
  -webkit-animation: spinner 1s ease-in-out infinite;
  animation: spinner 1s ease-in-out infinite;
}
@keyframes spinner {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
@-webkit-keyframes spinner {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}