.listBuy {
  display: flex;
  justify-content: center;
  gap: 2.2em;
  padding-top: 30px;
}
.listBuy2 {
  display: flex;
  justify-content: center;
  gap: 2.2em;
  padding-top: 16px;
}

.listBuy img, .listBuy2 img {
  height: 70px;
  width: 65px;
  border-radius: 20px;
  margin: auto;
}

.namePrd p {
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}

.price {
  margin: auto;
}

.price p {
  margin: auto;
  font-size: 14px;
}